* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75%;
} */
#container {
  width: 90%;
  height: 90%;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  margin-top: 20px;
  margin-left: 80px;
}
.product {
  margin: 10px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product img {
  margin-top: 10px;
  width: 50%;
  height: 50%;
  align-items: center;
}
.product h2 {
  text-align: center;

  margin-top: 35px;
  /* margin-left: 40px; */
  width: 90%;
}

.product p {
  text-align: center;
  margin-top: 10px;
  font: bold;
  font-weight: 700;
}
